<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206597561708-rb85l1123g2n76lg5qqqmefkrbf7kvqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206597561708-rb85l1123g2n76lg5qqqmefkrbf7kvqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAw67kloafePawdmvzDF35WOazhXojwyRs</string>
	<key>GCM_SENDER_ID</key>
	<string>206597561708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voodoo.voiceapp</string>
	<key>PROJECT_ID</key>
	<string>voiceapp-8f09a</string>
	<key>STORAGE_BUCKET</key>
	<string>voiceapp-8f09a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206597561708:ios:04fd51486f82d029d96749</string>
</dict>
</plist>